body {  
width: 1140px;
margin-left: auto;
margin-right: auto;
}


div.board { 
	/* top: 200px;
	left:350px;
	position: relative; */
	position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  
	width: 360px;
	height: 360px;
	background: #ffe4c4;
	/* margin: 0 auto; */
	display: inline-block;
background-color: #ffe4c4;
background-image: linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black), 
linear-gradient( 45deg,black 25%, transparent 25%, transparent 74%, black 75%, black);
background-size:100px 100px;
background-position: 0 0, 50px 50px;
padding: 20px;
}
.box {
	background-color: red;
	border-radius: 50px;
    position: absolute;
	width: 45px;
    height: 45px;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}
.box2 {
	background-color: #fff;
	border-radius: 50px;
    position: absolute;
	width: 45px;
    height: 45px;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}
.col1
{
	left: -350px;.

}

.col2
{
	left: -250px;.

}
.col3
{
	left: -150px;.

}

.col4
{
	left: -50px;.

}
.col5
{
	left: 50px;.

}

.col6
{
	left: 150px;.

}
.col7
{
	left: 250px;.

}

.col8
{
	left: 350px;.

}
.row1
{
	top: -350px;.

}
.row2
{
	top: -250px;.

}
.row3
{
	top: -150px;

}
.row4
{
	top: -350px;.

}
.row5
{
	top: 50px;.

}
.row6
{
	top: 150px;.

}
.row7
{
	top: 250px;.

}
.row8
{
	top: 350px;.

}